@use "../../assets/scss/fonts/quicksandfonts";
@use "../../assets/scss/fonts/_poppinsfonts.scss";
@use "../../assets/scss/components/_card.scss" as card;


section {
  .v-card {
   @include card.blueCard;
    .v-card-title {
      color: #ffff !important;
      font-family: 'QuickSand', sans-serif;
      font-size: 45px;
    }

    .v-carousel {
      border-radius: 20px;

      .v-carousel-item {
        background-color: #D0EAE5 !important;

        .certificate-detail-text {
          h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 21px;
          }
        }
      }
    }
  }
}
