@use "../../assets/scss/fonts/_poppinsfonts.scss";
@use "../../assets/scss/variable/variable" as var;
@use "../../assets/scss/components/_card.scss" as card;


section {
  .v-container {
    .v-row {
      .v-col {
        .v-card {
          @include card.blueCard;

          .v-card-title {
            font-family: 'QuickSand', sans-serif;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .v-card-subtitle {
    font-size: 15px !important;
  }
  .responsive-text {
    text-align: center;
    white-space: normal;
  }
}

