@use "../../assets/scss/fonts/quicksandfonts";
@use "../../assets/scss/variable/variable" as var;


.main-content-text {
  margin-top: 25vh;

  .name-text {
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;
    color: var.$cyan-color;
  }

  h3 {
    font-family: 'QuickSand', sans-serif;
    font-weight: 500;
    color: #000;

  }

  .skills-text {
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;
    color: var.$gray-color;
    opacity: 40%;

  }
}

.main-content-image {
  width: 418px !important;
}

@media only screen and (max-width: 430px) {

  .main-content-text {
    margin-top: 10px !important;
    margin-left: 0 !important;

    .name-text {
      font-size: 25px !important;
    }

    h1 {
      font-size: 20px !important;
      text-align: center;
      padding: 0 !important;
    }
  }
}
